/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1F1F1F;
    background-alt: #2F2F2F;
    foreground:     #F1F1F1;
    selected:       #0066FF;
}
